.page {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  scroll-behavior: smooth;

  &:has(.page__aside:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    background-color: $light-blue;
  }

  &__aside {
    position: fixed;
    top: 0;
    transition: all $transition-duration;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;

    &:target {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}
